<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<meta charset="ISO-8859-1">
	<title>Favorites</title>
</head>

<body>
	<div layout:fragment="content">
	<img th:src="@{/images/LogoFoodFeastYourEyes.jpg}"/><br/> <br/>

		<table style="width:50%;">
			<table>
				<tr>
					<th width="100px" style="text-align:center; font-family: 'Times New Roman', Times, serif">ID</th>
					<th width="500px" style="text-align:center; font-family: 'Times New Roman', Times, serif">Restaurant Name</th>
					<th width="100px" style="text-align:center; font-family: 'Times New Roman', Times, serif">Open Now</th>
					<th width="100px" style="text-align:center; font-family: 'Times New Roman', Times, serif">Rating</th>
				</tr>
			</table>
			<tr th:each="product : ${productModel}">
				<form action="#" th:action="@{favorite}" th:object="${productID}" method="post">
					<input type="hidden" name="id" th:value="${product.id}">
					<button type="submit">
						<table>
							<tr>
								<td width="100px" style="text-align:center; font-family: 'Times New Roman', Times, serif">
									<h5 th:text="${product.id}">ID</h5>
								</td>
								<td width="500px" style="text-align:center; font-family: 'Times New Roman', Times, serif">
									<h5 th:text="${product.productName}">Product 1</h5>
								</td>
								<td width="100px" style="text-align:center; font-family: 'Times New Roman', Times, serif">
									<h5 th:text="${product.price}">1.00</h5>
								</td>
								<td width="100px" style="text-align:center; font-family: 'Times New Roman', Times, serif">
									<h5 th:text="${product.quantity}">1</h5>
								</td>
							</tr>
						</table>
					</button>
				</form>
			</tr>
					<br/><br/>
			<!--<form action="#" th:action="@{/enterProduct}" method="get">
				<button type="submit" style="font-family: 'Times New Roman', Times, serif">Add Favorite</button>
		</form> -->
	</div>
</body>

</html>