<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="layouts/defaultTemplate">
<head>
<meta charset="ISO-8859-1">
<title>Choose Page</title>
</head>

<div layout:fragment="content">
        <img th:src="@{/images/food/PicOfFood2.jpg}" /> </br></br>
        <form action="#" th:action="@{/choose}" method="get">
							<button type="submit" style="background: none; border: none; padding: 0; margin: 0; width: 30px; height: 30px; margin-right: 100px;">
  				<img src="/images/FancyX.jpg" alt="Image description" style="width: 100%; height: 100%; object-fit: contain">
			</button>
			<button type="submit" style="background: none; border: none; padding: 0; margin: 0; width: 30px; height: 30px">
  				<img src="/images/FancyCheckmark.jpg" alt="Image description" style="width: 100%; height: 100%; object-fit: contain">
			</button>
		</form>
	</div>
</html>